<component>
    <previews>
        <preview width="320" height="240"/>
        <preview width="240" height="240"/>
    </previews>

    <styles>
        <style name="main"  pad_all="0" border_width="0" radius="0"
          layout="flex" flex_flow="column" pad_row="0" text_font="font_subtitle"/>
        <style name="content" 
               bg_color="0xeeeeee" bg_opa="255" pad_all="12"
               width="100%" flex_grow="1" flex_flow="row_wrap"/>
    </styles>

    <view width="100%" height="100%" styles="main">
        <header title="Settings"/>
        <row styles="content">
            <column>
                <checkbox text="Notifications" subject="notification_on"/>
                <checkbox text="Bluetooth" subject="bluetooth_on"/>
                <checkbox text="WiFi" subject="wifi_on"/>
            </column>
            <setclock />
        </row>
    </view>
</component>